<form class="pure-form" action="/create" method ="post">
  <fieldset>
    <legend>新しいメモを追加</legend>
    <label for="title">タイトル</label>
      <input type="text" name="title" id="title" placeholder="タイトル">
    <label for="content">内容</label>
      <input type="text" name="content" id="content" placeholder="内容">
    <label for="categories">カテゴリ</label>
    <select name="category" id="category">
      <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
    </select>

    <button type="submit" class="pure-button pure-button-primary">追加</button>
  </fieldset>
</form>
<!--<ul>-->
<!--  <% @categories.each do |category| %>-->
<!--  <li><a href="/category/<%= category.id %>"><%= category.name %></a> </li>-->
<!--  <% end %>-->
<!--  </ul>-->
  <% if @category_name.present? %>
  <h2><%= @category_name %></h2>
  <% end %>
    <% @memos.each do |memo| %>
<div class="ui cards">
  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= memo.title %>
      </div>
      <div class="meta">
        <%= memo.category %>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <%= memo.content %>
      </div>
    </div>
    <div class="extra content">
      <span>
        <form action="/delete/<%= memo.id %>" mothod="post">
          <input type="submit" value="削除">
        </form>
      </span>
      <span>
        <form action="/edit/<%= memo.id %>" mothod="post">
          <input type="submit" value="編集">
        </form>
      </span>
    </div>
  </div>
  <% end %>
